<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>whales-events</title>
  <link rel="stylesheet" href="./css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <script defer src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>



<body class="body">

  {{{body}}}

  <footer class="footer-bar">
    <section class="block-wrapper_footer-bar">
      <div class="footer-bar__part-left">
        <div class="footer-bar__prod">
          <p class="footer-bar__text">
            <b>© 2021, Whales prod.</b>
            <br><br>
            whales@elbrusboot.camp
          </p>
        </div>

        <div class="footer-bar__socials">
          <p class="footer-bar__text">
            <b>Находите нас в соцсетях</b>
          </p>

          <a href="" class="footer-bar__tg">
            <img src="./img/svg/tg.svg" alt="">
          </a>

          <a href="" class="footer-bar__fb">
            <img src="./img/svg/fb.svg" alt="">
          </a>

          <a href="" class="footer-bar__tw">
            <img src="./img/svg/tw.svg" alt="">
          </a>

          <a href="" class="footer-bar__ig">
            <img src="./img/svg/ig.svg" alt="">
          </a>

          <a href="" class="footer-bar__vk">
            <img src="./img/svg/vk.svg" alt="">
          </a>
        </div>
      </div>

      <a class="footer-bar__part-right" href="/">
        <img src="./img/whales-events.png" alt="" class="footer-bar__logo">
      </a>
    </section>
  </footer>

</body>

</html>
