<form action="/signUp" method="POST">
  <input id="firstName" type="text" class="validate" name="firstName">
  <input id="lastName" type="text" class="validate" name="lastName">
  <input id="email" type="text" class="validate" name="email">
  <input id="password" type="text" class="validate" name="password">
  <input id="cityName" type="text" class="validate" name="cityName">
  <button type="submit">KNOPKA</button>
</form>

