<header class="nav-bar">
  <section class="block-wrapper_nav-bar">
    <a class="nav-bar__part-left" href="/">
      <img src="./img/whales-events_long.png" alt="" class="nav-bar__logo">
    </a>

    <div class="nav-bar__part-right">
      <a class="nav-bar__button" href="/">
        Главная
      </a>

      {{#if user}}
      <a class="nav-bar__button" href="/account">
        Аккаунт
      </a>

      <button class="nav-bar__button" action="/logout">
        Выход
      </button>
      
      {{else}}

      <a class="nav-bar__button nav-bar__button_active" href="/signIn">
        Вход
      </a>

      <a class="nav-bar__button" href="/signUp">
        Регистрация
      </a>

      {{/if}}
    </div>
  </section>
</header>

<main class="main">
  <section class="block-wrapper">
  <form action="" class="input-bar_signin">
    <div class="input-bar__input_text input-bar_create_email">
      <input placeholder="E-mail" id="input_text" type="email" data-length="10">
    </div>

    <div class="input-bar__input_text input-bar_create_password">
      <input placeholder="Пароль" id="input_text" type="password" data-length="10">
    </div>
    <button class="input-bar__button input-bar_create_enter">
      Войти
    </button>
  </form>
</section>
</main>
